/*CSS Page accueil avec News et Info*/

#section_news{
	min-width:320px;
	max-width:640px;
    width:49%;
	min-height:358px;
    background-color: white;
    overflow: auto;
	border-radius: 1rem;
	margin: auto;
  }

#news_site{
  border:1px solid black;
  width: 80%;
  height: 20%;
  top: 5%;
  left: 5%;
  margin: 10%;
}
