/*CSS Page accueil avec News et Info*/
#section_logopedie{
	min-width:320px;
	max-width:640px;
    width:50%;
    max-height:718px;
	min-height:358px;
    height: 100%;
    background-color: red;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#info_logopede{
  background-color: aqua;
  border:1px solid black;
  width: 80%;
  height: 20%;
  top: 5%;
  left: 5%;
  margin: 10%;
}
#informations{
  float: left;
}

#section_news{
	min-width:320px;
	max-width:640px;
    width:50%;
    max-height:718px;
	min-height:358px;
    height: 100%;
    background-color: yellow;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    float: right;
	
  }
#news_site{
  background-color: aqua;
  border:1px solid black;
  width: 80%;
  height: 20%;
  top: 5%;
  left: 5%;
  margin: 10%;
}

