.boutonMots{
  width: 45%;
  height: 45%;
  float: left;
  margin: 5px;
  border: 1px solid black;
}
.boutonMotsEtendu{
  width: 30%;
  height: 45%;
  float: left;
  margin: 5px;
  border: 1px solid black;
}
.showButton{
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  border: 2px solid black;
}

.trueButton{
  background-color: green;
  disabled: true;
  color: black;
  border: 2px solid green;
}

.falseButton{
  disabled: true;
  color: black;
  border: 2px solid red;
}

.selectOptions{
  min-width: 250px;
  min-height: 60px;
  border: 2px solid black;
}

#nextButton{
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#boutonsMots{
  width: 500px;
  height: 150px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#divParametre{
  width: 210px;
  height: 3000;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#activiteSelect{
  min-width: 250px;
  min-height: 60px;
  border: 2px solid black;
}
#bouton_activités{
  width: 50%;
  height: 100px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  display: block;

}